<form class="form">
  <mat-form-field class="form-component">
    <mat-label>Username</mat-label>
    <input type="text" matInput [formControl]="userName" placeholder="UserName123">
    <mat-error *ngIf="userName.hasError('required')">
      Username is <strong>required</strong>!
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-component">
    <mat-label>Password</mat-label>
    <input type="password" matInput [formControl]="userPassword" placeholder="**********">
    <mat-error *ngIf="userPassword.hasError('minlength') && !userPassword.hasError('required')">
      Password must be at least {{minLengthPassword}} characters long
    </mat-error>
    <mat-error *ngIf="userPassword.hasError('required')">
      Password is <strong>required</strong>!
    </mat-error>
  </mat-form-field>

  <mat-error style="text-align: center; margin-bottom: 5px;" *ngIf="loginErro">
    Invalid username or password!
  </mat-error>

  <button class="form-component" [disabled]="hasFormControllError()" (click)="login()" mat-raised-button color="primary">Login</button>
</form>
